.path-search header .header-main {
  background: #262626;
}

.gva-navigation {
  margin: 0 0 0 50px;
}

.navigation .gva_menu {
  float: left;
}
.navigation .gva_menu > li > a:hover,
.navigation .gva_menu > li > a:focus {
  color: #70e800 !important;
  text-decoration: none !important;
}

.navigation .gva_menu > li > a {
  letter-spacing: 1px;
  font-size: .75rem !important;
  font-weight: 300 !important;
  font-family: Russo One !important;
}

.navigation .gva_menu > li:hover > a {
  color: #70e800;
  text-decoration: none !important;
}

.navigation .gva_menu > li > a:hover::before {
  content: '';
  background: #70e800;
  width: 40px;
  height: 2px;
  position: absolute;
  bottom: 30px;
  text-decoration: none !important;
}

.navigation .gva_menu .sub-menu > li {
  padding-left: 10px;
  padding-right: 10px;
}

.navigation .gva_menu .sub-menu,
.navigation .gva_menu .sub-menu a {
  background-color: transparent;
  color: #70e800 !important;
  border-top: none;
  padding: 0 0 10px;
}
.navigation .gva_menu .sub-menu {
  border-top: none;
  padding: 0 0 10px;
}

.block .block-title > span {
  color: #70e800 !important;
}

.footer {
  color: #fff;
  font-size: .75rem;
  background: #333;
  line-height: inherit;
}

.footer-links p {
  color: #fff !important;
  font-size: .75rem !important;
}

footer .block .block-title > span {
  font-size: 12px !important;
}

.topbar {
  display: none;
}

.gva-search-region .icon {
  color: #70e800 !important;
}

.icon-line {
  color: #fff !important;
  margin: 0 10px;
  font-weight: 300 !important;
  border-left: 1px solid #fff;
}

.block .block-title::after {
  display: none;
}
.block .block-title {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

.green {
  color: #70e800 !important;
}

.phone-main {
  color: #70e800 !important;
  font-weight: 300 !important;
  margin: 0 0 0 10px;
  font-size: .7rem;
}

header .area-main-menu .gva-search-region .icon {
  font-weight: 300 !important;
  letter-spacing: 1px;
}

header .area-main-menu .gva-search-region {
  position: absolute;
  right: 0;
  top: 35%;
  margin-top: 0;
  z-index: 9;
}

.block .block-title > span {
  font-weight: 300;
}

/* FOOTER */

footer .navigation .gva_menu > li > a {
  border-right: 1px solid transparent;
  font-size: .75rem;
  font-weight: 400;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  text-align: left;
  color: #fff;
  text-transform: initial;
  font-family: Open Sans !important;
  letter-spacing: 0;
}


footer .navigation .gva_menu > li > a:hover::before {
  display: none;
  text-decoration: underline !important;
}

footer p {
  margin-top: 0;
  margin-bottom: 0;
}

.white-text,
.white-text p,
h1, h2, h3, h4, h5, h6 {
  color: #fff !important;
}

.green-text,
.green-text p,
h1, h2, h3, h4, h5, h6 {
  color: #70e800 !important;
}

.gsc-button.medium,
.gsc-button.medium a {
  font-size: .75rem !important;
  padding: 5px 35px;
  border-radius: 25px;
  border: 1px solid #70e800 !important;
  margin: 10px 0 20px;
  color: #70e800 !important;
}

.gsc-button.medium:hover,
.gsc-button.medium:focus {
  background: #70e800 !important;
  border: 1px solid #70e800 !important;
  color: #000 !important;
  text-decoration: none !important;
}

.text-light .block .block-title > span {
  color: #fff !important;
  font-size: 1.4rem;
}

.vertical-navigation,
#vertical-navigation {
  display: block !important;
}

.vertical-navigation .navigation .gva_menu > li {
  display: block;
  color: #fff;
  padding: 0;
  margin: 0;
}

.vertical-navigation .navigation .gva_menu > li > a:hover::before {
  display: none;
}

.vertical-navigation .navigation .gva_menu > li > a:hover::after {
  content: '>' ' Learn More';
  margin: 0 0 0 5px;
}

.vertical-navigation .navigation .gva_menu > li > a {
  display: block;
  font-size: 12px;
  font-weight: 400;
  padding: 4px 0;
  text-align: left;
  color: #fff !important;
  text-transform: inherit;
  font-family: Open Sans !important;
}

.vertical-navigation .navigation .gva_menu > li > a:hover,
.vertical-navigation .navigation .gva_menu > li > a:focus {
  color: #70e800 !important;
}

.line-spacer {
  padding: 5px 0;
}

.button-center {
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: auto;
  transform: translate(-50%, -50%);
  margin: 25px 0 !important;
}

.green-text.dir {
  font-size: 200%;
  font-family: Russo One !important;
  font-weight: 600;
  margin: 0 10px 0 0;
}

.webform-submission-form .form-actions input.form-submit {
  background: #000 !important;
  color: #70e800 !important;
  border: 1px solid #70e800 !important;
}

.webform-submission-form .form-actions input.form-submit:hover {
  background: #70e800 !important;
  color: #000 !important;
  border: 1px solid #70e800 !important;
}

.webform-submission-form .form-item input,
.webform-submission-form .form-item textarea {
  background: none;
  border-color: transparent;
  border-bottom: 1px solid #888;
  color: #fff !important;
}

.webform-submission-form .form-item input,
.webform-submission-form .form-item textarea,
.webform-submission-form .form-item select {
  border-radius: 0;
}

.webform-submission-form .form-item select {
  background: none;
  border: none;
  border: 1px solid #888;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  border-radius: 0;
  color: inherit;
}

.webform-submission-form .form-item select {
  background-image: linear-gradient(45deg, transparent 50%, #70e800 50%), linear-gradient(135deg, #70e800 50%, transparent 50%), linear-gradient(to right, #70e800, #70e800);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

.webform-submission-form .form-actions {
  margin: 30px 0 0;
}

.form-select {
  display: block;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.form-select::-ms-expand {
  display: none;
  background: transparent;
}

.breadcrumb-content-inner .gva-breadcrumb-content .page-title {
  color: #fff !important;
}

.green-title {
  color: #77e800 !important;
}

.card:hover {
  -webkit-transition: box-shadow .45s;
  transition: box-shadow .45s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

/*********************** Demo - 9 *******************/
.box9 {
 position: relative
}
.box9 img {
  width: 100%;
  height: auto;
  padding: 70px 50px;
  margin: 10px 0;
}
.box9:hover img {opacity: .5}
.box9 .box-content {padding: 30px 10px 30px 0;background: rgba(0, 0, 0, .65);position: absolute;top: 0;left: 0;bottom: 0;right: 0;opacity: 0}
.box9:hover .box-content {opacity: 1;background: #262626; border-radius: 25px;}
.box10 .icon li a, .box9 .icon li a {line-height: 35px;border-radius: 50%}
.box9 .icon {list-style: none;padding: 0;margin: 0;position: absolute;top: 50%}
.box9 .icon li {display: inline-block;opacity: 0;transform: translateY(40px)}
.box9:hover .icon li {opacity: 1;transform: translateY(0)}
.box9:hover .icon li:first-child {transition-delay: .1s}
.box9:hover .icon li:nth-child(2) {transition-delay: .2s}
.box9 .icon li a {display: block;width: 35px;height: 35px;background: #f39c12;font-size: 20px;color: #000;margin-right: 5px;transition: all .35s ease 0s}
.box9 .icon a:hover {background: #fff}

.card  {border-radius: 25px !important;}

.box9 p {
  color: #fff !important;
}

.box9 .title {
  font-weight: 600;
  margin: 5px 0;
  font-size: 35px;
}
.gsc-button.medium.w-100.text-align-right.no-border {
  border: none !important;
}

.gsc-button.medium.w-100.text-align-right.no-border:hover,
.gsc-button.medium.w-100.text-align-right.no-border:focus {
 background: transparent !important;
  text-decoration: underline;
  color: #fff !important;
}

/********/
@media only screen and (max-width: 990px) {
  .box9 {margin-bottom: 20px}
}


@media (max-width: 991.98px) {
  header .area-main-menu .gva-search-region {
    position: absolute;
    right: 0;
    top: 25%;
    margin-top: 0;
    z-index: 9;
  }
  .phone-main {
    display: none;
  }
}
